[submodule "lv-scripting-java"]
	path = lv-scripting-java
	url = git@github.com:stupaq/lv-scripting-java.git
	branch = master
[submodule "lv-scripting"]
	path = lv-scripting
	url = git@github.com:stupaq/lv-scripting.git
	branch = master
