<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%-5level %logger{0} | %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="stupaq.labview.activex.StdCallRunnableVI" level="DEBUG" additivity="false">
        <appender class="ch.qos.logback.core.ConsoleAppender">
            <encoder>
                <pattern>-- %-5level | %msg%n</pattern>
            </encoder>
        </appender>
    </logger>

    <root level="ALL">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
